<div class="mb-3">
    <label for="street_houseName" class="form-label">street_house Name</label>
    <input
        type="text"
        name="name"
        value="{{ street_house.name }}"
        required="required"
        class="form-control"
        id="street_houseName"
    />
</div>

<div class="mb-3">
    <label for="street_houseCity" class="form-label">street_house City</label>
    <input
        type="text"
        name="city"
        value="{{ street_house.city }}"
        required="required"
        class="form-control"
        id="street_houseCity"
    />
</div>
